.content_block {
	float:left;
	margin:0 0px 20px 0;
}


table.top_block{
  width:400px;
  float:left;
  /*margin:0 0px 20px 0;
  border-collapse:collapse;*/
  /*border-bottom: 1px #000000 solid;*/
}

table.list_block{
  float:left;
  margin:0 0px 20px 0;
  border-collapse:collapse;
  /*border-bottom: 1px #000000 solid;*/
}

.button_block {
  float:left;
  margin:20px 0 10px 0;
}

.border_row {
  border-bottom: 1px #000000 solid;
}