/*
    Document   : select_client
    Created on : 2011/10/27, 11:11:00
    Author     : kiuchi
    Description:
        Purpose of the stylesheet follows.
*/
body {
	background-color: #ffebcd;
	font-family: "MS ゴシック", sans-serif;
    font-size:10pt;
    margin-left: auto;
    margin-right: auto;
}

th,td{
    white-space: nowrap;
}
